.header{
    background-color: black;
    border-bottom: 2px solid #f44336;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0.5rem;
    font-size: 1.5rem;
    align-items: center;
}

.header nav{
    margin-right: 1rem;
}

.header span{
    color: #b71c1c;
    font-size: 2rem;
    font-weight: 500;
}

.header a{
    color: white;
    text-decoration: none;
    padding-inline: 0.5rem;
}

h2, p{
    position: relative;
    top: 50px;
}